backend/tes.py
src/backend/__pycache__
src/backend/image_features.json
src/backend/image_histograms.json
src/backend/search_results.json
src/backend/static/image
src/backend/image
src/backend/venv
src/backend/env
__pycache__
src/backend/venv/Scripts/activate
